@import "colors";
@import "fonts";

$primary-grad-color: #ce4283;
$secondary-grad-color:#b2455d;

$body-bg-color:#323440;

$text-color: #ffffff;
$dark-text-color: #292a33;
$no-results-color: #464857;
$search-box-border-color: #969696;
$results-bg-color: #383949;
$search-btn-bg-color: #d05d84;

$small-font-size: 1rem;
$regular-font-size: 1.6rem;
$medium-font-size: 1.8rem;
$large-font-size: 2rem;
$xlarge-font-size: 3rem;